@using PatsyLibrary.Services.Interfaces
@inject IUserService UserService
@inject IUnitOfWorkRepository UnitOfWorkRepository

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PatsyLibrary</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PatsyLibrary.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PatsyLibrary</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Home Link is always visible -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @{
                            string username = UserService.GetUserSession();
                            HashSet<short> userPermissions = null; // Declara fora do bloco para escopo maior
                            if (username != null)
                            {
                                var user = await UnitOfWorkRepository.UserRepository.GetbyUserName(username);
                                userPermissions = user?.Role?.RolePermissions
                                .Select(rp => rp.PermissionId)
                                .ToHashSet() ?? new HashSet<short>();
                            }
                        }
                        @if (username != null && userPermissions != null)
                        {
                            @if (userPermissions.Contains(000) || userPermissions.Contains(400))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Usuários</a>
                                </li>
                            }

                            @if (userPermissions.Contains(000) || userPermissions.Contains(100))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Permission" asp-action="Index">Permissões</a>
                                </li>
                            }

                            @if (userPermissions.Contains(000) || userPermissions.Contains(200))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Department" asp-action="Index">Departamento</a>
                                </li>
                            }

                            @if (userPermissions.Contains(000) || userPermissions.Contains(300))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Cargo</a>
                                </li>
                            }
                          
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BookGender" asp-action="Index">Livro Gênero</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="BookPublisher" asp-action="Index">Livro Editora</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Livro</a>
                            </li>
                            <li class="nav-item">
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                    <button type="submit" class="nav-link text-dark btn btn-link">Sair</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            © 2025 - PatsyLibrary - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.4/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>