@model IEnumerable<Permission>

@{
    ViewData["Title"] = "Permissões";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a href="@Url.Action("Add")">Adicionar Nova Permissão</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nome da Permissão</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var permission in Model)
        {
            <tr>
                <td>@permission.Name</td>
            </tr>
        }
    </tbody>
</table>
